.Customizar-Header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.Logo {
        margin-right: 20px;
        border-radius: 5px;
}

.texto {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    flex-grow: 1;
    text-align: center;
    text-transform: uppercase;
    padding-right: 110px;
}